.category-list {
    border: 1px solid #ededed;
    border-bottom: 3px solid #ccc;
    border-radius: 3px;
    box-shadow: 3px 3px 7px 0 rgba(200,200,200,.5);
}

.category-list-title {
    background: #022b51;
    color: white;
    padding: 10px 24px;
}

.category {
    padding: 10px 20px;
    color: navy;
    cursor: pointer;
}

.category:hover {
    background: #fcfcee;
    color: red;
}
